@import "../../mixins.scss";

.hero {
  .container {
    @include breakpoint-up(large){
      display: flex;
      align-items: center;
    }
  }


  &__image {
    position: relative;
    background-image: url(./programmer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;

    @include breakpoint-up(large){
      flex: 3;
      order: 2;
      height: 41rem;
      background-position: bottom center;
      left: 20%;
    }

    @include breakpoint-up(medium){
      min-height: 25rem;
      background-position: center 60%;
    }
  }

  &__text {

    text-align: center;

    @include breakpoint-up(large){
      flex: 2;
      text-align: left;
    }
  }
}