@import "../../mixins.scss";
@import "../../variables.scss";

.hero {
  margin-top: 4.375rem; // 70px
  padding: 0;
  background-color: $gunMetal;
  
  
  &__container {
    max-width: 69.375rem;
    margin: auto;
    
    &--pall {
      padding: 2.25rem 1.5rem;
    }
 
    @include breakpoint-up(large) {
      min-height: 41rem;
      display: flex;
      align-items: center;
    }

    @include breakpoint-down(medium) {
      margin-bottom: 2rem;
    }
  }

  &__image {
    position: relative;
    background-image: url(../images/mobile-background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    @include breakpoint-down(medium) {
      min-height: 31.25rem;
      background-position: center 60%;
    }

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      height: 41rem;
      background-image: none;
    }

    &::before {

      @include breakpoint-up(large) {
        content: "";
        position: absolute;
        height: 100%;
        width: 150%;
        background-image: url(../images/desktop-background.svg);
        background-repeat: no-repeat;
        width: 150%;
        background-size: 122%;
        background-position: 0% 75%;
      }
    }


    &::after {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      background-image: url(../images/phones.png);
      background-size: 93%;
      background-repeat: no-repeat;
      background-position: center bottom;

      @include breakpoint-up(medium) {
        background-size: 60%;
      }

      @include breakpoint-up(large) {
        width: 120%;
        height: 122%;
        background-size: 94%;
        background-position: center 150%;
        left: 22%;
      }
    }
  }

  &__text {
    text-align: center;
    
    @include breakpoint-up(large) {
      flex: 2;
      order: 1;
      text-align: left;
    }

    h1 {
      margin-bottom: 1.5rem;
    }

    h3 {
      margin-bottom: 2.25rem;
    }
  }

  &__cta {
    display: inline-block;  

    a {
      text-decoration: none;
    }
  }
}