@import "../../variables.scss";
@import "../../mixins.scss";

.navbar {
  width: 100%;
  height: 4.375rem; // 70px
  background-color: $xicetix;
  position: fixed;
  top: 0;
  z-index: 5;
  transition: all 1s ease;

  &__wrapper {
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo a {
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: white;
  }

  &__hamburger {
    width: 2rem;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    span {
      width: 100%;
      height: 5px;
      background-color: white;
      transform-origin: 2px 3px;
      transition: all 300ms ease-in-out;
    }
  }

  &.active {
    .navbar__hamburger {
      span {
        &:first-child {
          transform: rotate(45deg)
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

// desktop

.navbar {
  &__wrapper {
    @include breakpoint-up(large){
      padding: 0.625rem 1.875rem;
    }
  }

  &__logo a {
    @include breakpoint-up(large){
      font-size: 2.5rem;
    }
  }
}