@import "../../variables.scss";
@import "../../mixins.scss";

.footer {
  z-index: 2;
  background-color: $xicetix;
  color: $white;
  padding: 2.5rem;
  text-align: center;
  @include breakpoint-up(x-large) {
    margin-top: 6rem;
  }

  .container {
    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: 2fr 3fr;
      grid-template-rows: 1fr auto;
      grid-template-areas:
        "logo cta" 
        "logo copyright";
      justify-items: start;
      gap: 1rem;
    }
  }

  a {
    color: $white;
    text-decoration: none;
  }

  &__logo {
    display: inline-block;

    @include breakpoint-down(medium) {
      margin-bottom: 1.875rem;
    }

    @include breakpoint-up(large) {
      grid-area: logo;
    }

    img {
      height: 40px;
    }
  }

  &__cta {
    
    @include breakpoint-up(large) {
      grid-area: cta;
      text-align: right;
      justify-self: end;
    }
    a.button {
      @include breakpoint-down(medium) {
        margin-bottom: 1.875rem;
      }
    }
  }

  &__copyright {
    font-size: 0.8125rem;

    @include breakpoint-up(large) {
      grid-area: copyright;
      align-self: end;
      justify-self: end;
    }
  }
}

.button {
  display: inline-block;
  font-size: $sm-font;
  background: $gunMetal;
  border-radius: 2px;
  padding: 0.875rem 2.1875rem;
  border: 2px solid $blueGreen;
  color: white;
  border-radius: 50px;
  font-weight: 400;
  cursor: pointer;
  font-size: $sm-font;
  transition: opacity 300ms ease-in-out;

  &:hover {
    opacity: 0.90;
  }
}