@import "../../mixins.scss";

.experience {
  &__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__card {
    width: calc(100% / 3 - 20px);
    margin: 20px 0;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    padding: 30px 20px;

    @include breakpoint-down(medium) {
      width: calc(100% / 2 - 20px);
    }

    @include breakpoint-down(small) {
      width: calc(100% / 1 - 20px);
    }
  }

  &__icon img {
    height: 60px;
    width: 60px;
    background-color: crimson;
    border-radius: 50%;
    margin: 0 auto 10px auto;
  }
  
  &__card:hover {
    background: crimson;
    color: #FFF;
  }

  &__card:hover img {
    background: #FFF;
  }
}


.container {
  max-width: 69.375rem;
  margin: 0 auto;
  text-align: center;

  &--pall {
    padding-top: 6rem;
    padding-bottom: 4.375rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;

    @include breakpoint-up(large) {
      padding-top: 6rem; // 96px
      padding-bottom: 6rem;
    }
  }
}